<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<context:component-scan base-package="com.rex.cxf" />
	<!--/fruit is a URL prefix --> 
	<jaxrs:server id="fruitServicea" address="/cxf">
		<jaxrs:serviceBeans>
			<ref bean="fruitService" />
		</jaxrs:serviceBeans>
		<!-- jackson can serialize Java to JSON -->
		<!-- it will avoid errors such as No message body writer has been found 
			for class java.util.concurrent.ConcurrentHashMap, ContentType: application/json -->
		<jaxrs:providers>
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

</beans>